	<footer class="footer">
	  <div class="row">
	    <div class="small-12 columns">
	      <p class="address">Society Fair<br/> 277 S. Washington Street<br/> Alexandria<br/> VA 22314<br/>+1 (703) 683-3247</p>
	      <!--<p class="links">
	        <a href="#">Home</a>
	        <a href="#">Menu</a>
	        <a href="#">Hours</a>
	        <a href="#">Parties</a>
	        <a href="#">Catering</a>
	      </p>-->
	    </div>
	  </div>
	  <div class="row footer-stripe">
	  	<div class="small-12 columns">
	  		<p class="copywrite">Copyright © 2016</p>
	  	</div>
	  </div>
	</footer>

	<script src="{{ page.base_url }}assets/javascripts/vendor/jquery/jquery-2.1.4.min.js"></script>
  	<script src="{{ page.base_url }}assets/javascripts/foundation.min.js"></script>
  	<script src="{{ page.base_url }}assets/javascripts/scripts.js"></script>
	</body>
</html>
