<div class="parties-wrapper small-12 medium-8 medium-offset-2 columns end">
	<form id="parties-form" class="parties" accept-charset="UTF-8"  action="//formspree.io/stephen@restauranteve.com" method="POST">
		<h1>Parties Enquiry</h1>
		
		<input type="hidden" name="utf8" value="✓">
		<input type="hidden" name="_subject" value="New party request!" />
		<input type="text" name="_gotcha" class="gotcha"/>

		<fieldset> <!-- start fieldset 0 -->
	    	<legend>What type of event are you planning?</legend>
		  	<input type="checkbox" name="type[]" value="Breakfast" id="typeBreakfast"><label for="typeBreakfast">Breakfast</label>
		  	<input type="checkbox" name="type[]" value="Lunch" id="typeLunch"><label for="typeLunch">Lunch</label>
		  	<input type="checkbox" name="type[]" value="Brunch" id="typeBrunch"><label for="typeBrunch">Brunch</label>
		  	<input type="checkbox" name="type[]" value="Cocktail Party" id="typeCocktailParty"><label for="typeCocktailParty">Cocktail Party</label>
		  	<input type="checkbox" name="type[]" value="Dinner" id="typeDinner"><label for="typeDinner">Dinner</label>
		</fieldset> <!-- end fieldset 0 -->
		
		<fieldset> <!-- start fieldset 1 -->
			<legend>Event details</legend>
			<div class="field"> <!-- set row -->
				<div class="label-wrapper"> <!-- set columns -->
					<label>Event name
						<input type="text" name="event" placeholder="Jane's Baby Shower">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>No. Guests
						<input type="number" name="guests" placeholder="22" required pattern="number">
						<span>Please enter number of guests expected.</span>
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>Date
						<input type="date" name="date" placeholder="Date" required pattern="date">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Start time
						<input type="time" name="start" placeholder="Start time" required pattern="time">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			     	<label>End time
						<input type="time" name="end" placeholder="End time" required pattern="time">
					</label>
				</div>
			</div>
		</fieldset> <!-- end fieldset 1 -->

		<fieldset> <!-- start fieldset 2 -->
			<legend>Your contact details</legend>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Contact name
		  				<input type="text" name="name" id="right-label" placeholder="John Doe">
		  			</label>
		  		</div>
		  	</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Company name
						<input type="text" name="company" placeholder="My Corp">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Address
						<input type="text" name="address" placeholder="Address">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Email
						<input type="email" name="_replyto" placeholder="Email address">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Phone
						<input type="text" name="phone" placeholder="Phone">
					</label>
				</div>
			</div>
			<div class="field">
			    <div class="label-wrapper">
			    	<label>Fax
						<input type="text" name="fax" placeholder="Fax">
					</label>
				</div>
			</div>
		</fieldset> <!-- end fieldset 2 -->


		<fieldset> <!-- start fieldset 3 -->
			<legend>How did you hear about us?</legend>
			<div class="field"> <!-- set row only so checkboxes span full-width -->
				<input type="checkbox" name="source[]" value="Search Engine" id="sourceSearchEngine"><label for="sourceSearchEngine">Search engine</label>
				<input type="checkbox" name="source[]" value="Word of mouth" id="sourceWordofMouth"><label for="sourceWordofMouth">Word of mouth</label>
				<input type="checkbox" name="source[]" value="Previous visit" id="sourcePreviousVisit"><label for="sourcePreviousVisit">Previous visit</label>
				<input type="checkbox" name="source[]" value="Advertisement" id="sourceAdvertisement"><label for="sourceAdvertisement">Advertisement</label>
				<input type="checkbox" name="source[]" value="Previous event" id="sourcePreviousEvent"><label for="sourcePreviousEvent">Previous event</label>
			</div>
		</fieldset> <!-- end fieldset 3 -->
		<div class="submit-wrapper">
	  		<button type="submit" value="send">Send</button>
	  	</div>
	</form>
</div>