<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Society Fair</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Bistro</a></li>
      <li><a href="#">Market</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Hours</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Parties</a></li>
      <li><a href="#">Catering</a></li>
    </ul>
  </div>
</div>